{#

 Copyright (C) 2017 Andrew SASSOYE

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, version 3.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

#}

<footer class="footer">
	<section class="footer-main">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6">
					<h2>Le mot du président</h2>
					<blockquote class="blockquote">
						<p>L'AEES c'est comme le sexe, on pourrait croire qu'on peut s'en passer, mais une fois qu'on
							est dedans qu'est-ce que on est bien!</p>
						<footer class="blockquote-footer">Jérémie Thiébaut</footer>
					</blockquote>
				</div>
				<div class="col-6 col-md-3">
					<h2>Suivez-nous</h2>
					<a href="https://www.facebook.com/aees.be" target="_blank"><i class="fa fa-facebook-official fa-3x"
					                                                              aria-hidden="true"></i></a>
				</div>
				<div class="col-6 col-md-3">
					<address>
						<h2>A.E.E.S ASBL</h2><br>
						Institut Montefiore (ULiège, B28)<br>
						Allée de la découverte, 10<br>
						4000 Liège<br>
						<abbr title="Telephone">T:</abbr> +32 04 366 92 78
					</address>
				</div>
			</div>
		</div>
	</section>
	<section id="footer-copyright">
		<div class="container">
			<p>© 2017 AEES, Website by Andrew Sassoye.</p>
		</div>
	</section>
</footer>