{#

 Copyright (C) 2017 Andrew SASSOYE

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, version 3.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

#}

{% extends '@JOBINGEForum/cv/base.html.twig' %}

{% block title %}
	Bienvenue dans le CV-Book 2018
{% endblock %}
{% block menu %}
	<ul class="navbar-nav">

		<li class="active first"><a href="/index.html" class="nav-link">Accueil</a>
		</li>


		<li><a href="/pages/parFormation.html" class="nav-link">Trié par formation</a>
		</li>


		<li><a href="/pages/parNom.html" class="nav-link">Trié par nom</a>
		</li>


	</ul>
{% endblock %}

{% block content %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">

			Accueil

		</li>
	</ol>

	<div class="jumbotron text-justify">
		<h1>LE CV BOOK 2018</h1>
		<hr>
		<p>Ch&egrave;res Entreprises,</p>

		<p>C&rsquo;est avec grand plaisir que nous vous proposons ce <strong>CV Book.</strong><br>

			Cette ann&eacute;e encore, il contient plus de 200 CV d&rsquo;&eacute;tudiants d&rsquo;horizon
			vari&eacute;.<br>


			En esp&eacute;rant que vous y trouverez votre bonheur.</p>

		<p>&nbsp;</p>

		<p>L&rsquo;&eacute;quipe du Forum Entreprises</p>

		<p>&nbsp;</p>
	</div>
	<div class="jumbotron text-justify">
		<h1>L&#39;AEES...</h1>
		<hr>

		<p>De son vrai nom Association royale des El&egrave;ves des Ecoles Sp&eacute;ciales, l&rsquo;AEES, cercle des
			&eacute;tudiants ing&eacute;nieurs civils et informaticiens de l&rsquo;Universit&eacute; de Li&egrave;ge,
			fut fond&eacute;e en novembre 1880.</p>

		<p>Elle acquiert son titre de Soci&eacute;t&eacute; Royale en 1967 et le statut d&rsquo;asbl en 1969. Depuis
			plus de cent trente ans, l&rsquo;AEES repr&eacute;sente et d&eacute;fend les droits des mille cinq cents
			&eacute;tudiants de la Facult&eacute; des Sciences Appliqu&eacute;es.</p>

		<p>Son but est &eacute;galement d&rsquo;assurer une certaine animation sociale et culturelle sur le campus sans
			laquelle l&rsquo;Universit&eacute; ne serait pas ce qu&rsquo;elle est. Compos&eacute;e de six commissions
			articul&eacute;es autour de sept administrateurs, l&rsquo;AEES r&eacute;unit une vingtaine de membres actifs
			et pr&egrave;s de quatre cents adh&eacute;rents.</p>

		<p>Elle s&rsquo;inscrit parmi les diff&eacute;rentes associations d&rsquo;&eacute;tudiants de Sciences Appliqu&eacute;es
			avec lesquelles elle collabore activement pour assurer de nombreux services. Du Forum Entreprises au Bal des
			Ing&eacute;nieurs, en passant par l&rsquo;organisation d&rsquo;&eacute;v&eacute;nements, tant&ocirc;t s&eacute;rieux,
			tant&ocirc;t festifs, l&rsquo;AEES touche &agrave; un large &eacute;ventail d&rsquo;activit&eacute;s.</p>
	</div>
{% endblock %}