{#

 Copyright (C) 2017 Andrew SASSOYE

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, version 3.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

#}

{% extends sonata_block.templates.block_base %}

{% block block %}
	{% if block.position == 1 %}
		{% set item_class = 'carousel-item active' %}
	{% else %}
		{% set item_class = 'carousel-item' %}
	{% endif %}



    <div class="{{ item_class }}">
        <img class="d-block w-100" src="{% path media, 'reference' %}">
        <div class="carousel-caption">
			  {{ settings.content|raw }}
        </div>
    </div>

{% endblock %}
