{#

 Copyright (C) 2017 Andrew SASSOYE

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, version 3.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

#}

{% if object.status == 0 %}
	{% set action = 'Activer le vote' %}
{% elseif object.status == 1 %}
	{% set action = 'Calculer le resultat' %}
{% else %}
	{% set action = '' %}
{% endif %}


{% if action != '' %}
    <a class="btn btn-sm btn-primary" href="{{ admin.generateObjectUrl('status', object) }}">{{ action }}</a>
    <a class="btn btn-sm btn-default" href="{{ path('aees_vote_result', {'id': object.id}) }}" target="_blank">Afficher
        le resultat</a>

{% else %}
    <a class="btn btn-sm btn-default" href="{{ path('aees_vote_result', {'id': object.id}) }}" target="_blank">Afficher
        le resultat</a>
{% endif %}
