{#

 Copyright (C) 2017 Andrew SASSOYE

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, version 3.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

#}
<section id="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/img/slider1.png" alt="...">
                <div class="carousel-caption">
                    <h2>Précommandez vos tickets</h2>
                    <h4>Soirée ingé psy</h4>
                    <a>
                        plus d'info
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/img/slider2.png" alt="...">
                <div class="carousel-caption">
                    <h2>Envie d'un voyage?</h2>
                    <h4>Peresq est la pour vous!</h4>
                    <a>
                        plus d'info
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="next-events">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <div class="col-xs-12">
                    <h2>Soirée Ingé-Psy dans</h2>
                </div>
                <div class="col-xs-12 row" id="clock">
                </div>
            </div>
            <div class="col-lg-4">
                <h2>Prochains events:</h2>
                <ul class="list-group next-events">
                    <li class="list-group-item"><a href=""><i class="fa fa-angle-right"></i> Soirée Ingé-Psy</a></li>
                    <li class="list-group-item"><a href=""><i class="fa fa-angle-right"></i> Assemblée generale</a></li>
                    <li class="list-group-item"><a href=""><i class="fa fa-angle-right"></i> Peresq</a></li>
                    <li class="list-group-item"><a href=""><i class="fa fa-angle-right"></i> Ski Ingé</a></li>
                    <li class="list-group-item"><a href=""><i class="fa fa-angle-right"></i> Soirée Film</a></li>
                </ul>
                <a href=""></a>

            </div>
        </div>
    </div>
</section>
